/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5e1e1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Contenedor principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Estilo de la carta */
.card {
    background-color: #ffcccb;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.heart {
    font-size: 40px;
    animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.message {
    font-size: 1.5em;
    margin-top: 10px;
    color: #d6006c;
    font-weight: bold;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

.accept-btn {
    background-color: #42f56c;
    color: white;
}

.accept-btn:hover {
    background-color: #2f9d43;
}

.reject-btn {
    background-color: #f54242;
    color: white;
}

.reject-btn:hover {
    background-color: #d93e3e;
}

/* Estilos para el popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.popup-content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

#confirm-btn {
    background-color: #42f56c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#confirm-btn:hover {
    background-color: #2f9d43;
}
